<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ConnServlet</servlet-name>
        <servlet-class>uts.isd.controller.ConnServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>uts.isd.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>uts.isd.controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderController</servlet-name>
        <servlet-class>uts.isd.controller.OrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListOrderController</servlet-name>
        <servlet-class>uts.isd.controller.ListOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateDevice</servlet-name>
        <servlet-class>uts.isd.controller.CreateDevice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateDeviceServlet</servlet-name>
        <servlet-class>uts.isd.controller.CreateDeviceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateOrderController</servlet-name>
        <servlet-class>uts.isd.controller.UpdateOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewStaff</servlet-name>
        <servlet-class>uts.isd.controller.ViewStaffController1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateStaffController</servlet-name>
        <servlet-class>uts.isd.controller.CreateStaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminViewController</servlet-name>
        <servlet-class>uts.isd.controller.AdminViewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteOrderController</servlet-name>
        <servlet-class>uts.isd.controller.DeleteOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewStaffController</servlet-name>
        <servlet-class>uts.isd.controller.ViewStaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrderController</servlet-name>
        <servlet-class>uts.isd.controller.ViewOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>uts.isd.controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileController</servlet-name>
        <servlet-class>uts.isd.controller.UpdateProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderValidator</servlet-name>
        <servlet-class>uts.isd.controller.OrderValidator</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConnServlet</servlet-name>
        <url-pattern>/ConnServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderController</servlet-name>
        <url-pattern>/OrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListOrderController</servlet-name>
        <url-pattern>/ListOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateOrderController</servlet-name>
        <url-pattern>/UpdateOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewStaff</servlet-name>
        <url-pattern>/ViewStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateStaffController</servlet-name>
        <url-pattern>/CreateStaffController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminViewController</servlet-name>
        <url-pattern>/AdminViewController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteOrderController</servlet-name>
        <url-pattern>/DeleteOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewStaffController</servlet-name>
        <url-pattern>/ViewStaffController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrderController</servlet-name>
        <url-pattern>/ViewOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileController</servlet-name>
        <url-pattern>/UpdateProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderValidator</servlet-name>
        <url-pattern>/OrderValidator</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
